html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;

    height: 100%;
    width: 100%;
    margin: 0px;
}

#header-bar {
    background-color: rgb(60, 95, 170);
    height: 40px;
    width: 100%;

    color: white;

    display: flex;
    align-items: center;
}

#main-body {
    padding: 40px 20px;

    height: 100%;
    width: 100%;

    background-image: url("images/forest.jpg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;

    overflow-x: auto;
}

ul {
    list-style: none;
    margin: 5px;
    width: 100%;
}

li {
    display: inline-block;
    height: 100%;
}

.new-list-button {
    background-image: url("images/add-button.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 0px;

    height: 100%;

    outline: none;
}

ul li:last-child {
    
}

.list-container {
    width: 250px;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
    border: none;
    margin: 0px 20px;
    box-sizing: border-box;
    padding: 0px 3px;
    /*box-shadow: 5px 5px 10px black;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container h2 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    outline: none;
}


.panel-holder {
    display: flex;
    flex-direction: column;
}

.panel {
    background: rgb(245, 245, 245);
    border-radius: 5px;
    margin: 5px 5px;
    min-height: 40px;
    box-shadow: 2px 2px 5px rgba(75, 75, 75, 0.2);
}

.panel p {
    margin: 5px 10px 10px 10px;
}
.panel > div {
    display: flex;
    justify-content: space-between;
    margin: 3px 5px 0px 5px;
    height: 20px;
}

.image-button {
    height: 100%;
    min-width: 10px;
    border-width: 0px;
}

.image-button:focus {
    outline: none !important;
}

.edit-button {
    background: url("images/edit-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.edit-button:focus {
    
}

.delete-button {
    background: url("images/delete-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.favorite-button {
    background: url("images/star-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.glow-input {
    border: 0px;
    border-radius: 5px;
    margin: 25px 5px 15px 5px;
    height: 40px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.5);

    resize: none;
    overflow: hidden;
    
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
}

.disableSelect{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;

    pointer-events:none;
}

.modal-box {
    position: fixed;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);

    animation: fadeIn ease 1s;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-change {
    width: 200px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.title-change-input {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 20px;
}

.title-change-input:focus {
    animation: borderGrow ease 1s;
}

.invisible {
    display: none;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0px 10px;
}

.panel-change {
    width: 250px;
    min-height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.modal-content h3 {
    text-align: center;
}

.panel-edit-input {
    height: 65px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1;}
}

@keyframes borderGrow {
    
}